/mnt/c/Users/Lumb/My Unity Games/One magazine/Temp/UnityLockfile
C:\Users\Rannon\Programs\Unity projects\Muscleman-reloaded\Library
C:\Users\Rannon\Programs\Unity projects\Muscleman-reloaded\Logs
C:\Users\Rannon\Programs\Unity projects\Muscleman-reloaded\Packages
C:\Users\Rannon\Programs\Unity projects\Muscleman-reloaded\ProjectSettings
C:\Users\Rannon\Programs\Unity projects\Muscleman-reloaded\Temp