/mnt/c/Users/Lumb/My Unity Games/One magazine/Temp/UnityLockfile
/mnt/c/Users/Lumb/My Unity Games/Muscleman-reloaded/Library
/mnt/c/Users/Lumb/My Unity Games/Muscleman-reloaded/Log
/mnt/c/Users/Lumb/My Unity Games/Muscleman-reloaded/Packages
/mnt/c/Users/Lumb/My Unity Games/Muscleman-reloaded/ProjectSettings
/mnt/c/Users/Lumb/My Unity Games/Muscleman-reloaded/Temp
/mnt/c/Users/Lumb/My Unity Games/Muscleman-reloaded/Muscleman-reloaded.sln
/mnt/c/Users/Lumb/My Unity Games/Muscleman-reloaded/One magazine.sln
